<!doctype html>
<html lang="en">
<head>
  <title>{{ page.title }} - {{ page.tagline }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Language Den - Learn your new language faster">
  <meta name="keywords" content="">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/themify-icons.css">
  <link href="/css/style.css" rel="stylesheet">

  <script type="text/javascript">
    var _paq = _paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//stats.languageden.com/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="//stats.languageden.com/piwik.php?idsite=1&amp;rec=1" style="border:0;" alt="" /></p></noscript>
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="30">
<div class="nav-menu fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-dark navbar-expand-lg">
          <a class="navbar-brand" href="/">Language Den</a>
          <button onclick="var nav = document.getElementById('navbar'); if (nav.classList.contains('collapse')) { nav.classList.remove('collapse') } else { nav.classList.add('collapse') }; return false" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                  aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link active" href="#home">HOME <span
                class="sr-only">(current)</span></a></li>
              <li class="nav-item"><a class="nav-link" href="#features">FEATURES</a></li>
              <li class="nav-item"><a class="nav-link" href="#demo">DEMO</a></li>
              <li class="nav-item"><a class="nav-link" href="#pricing">PRICING</a></li>
              <li class="nav-item"><a class="nav-link" href="#contact">CONTACT</a></li>
              <li class="nav-item"><a href="https://app.languageden.com/users/sign_in" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">Sign In</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>

{{ content }}

<div class="section light-bg" id="features">
  <div class="container">
    <div class="section-title">
      <h3>Language Den Features</h3>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-lg-4">
        <div class="card features">
          <div class="card-body">
            <div class="media">
              <span class="ti-layers gradient-fill ti-3x mr-3"></span>
              <div class="media-body">
                <h4 class="card-title">Flashcards</h4>
                <p class="card-text">At the heart of Language Den is our flashcard creation and review system. Create flashcards with as little or as much information as you need and review them daily using our spaced repetition system.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="card features">
          <div class="card-body">
            <div class="media">
              <span class="ti-loop gradient-fill ti-3x mr-3"></span>
              <div class="media-body">
                <h4 class="card-title">Spaced Repetition</h4>
                <p class="card-text">In order to learn new words or concepts in as little time as possible we add them to your daily reviews at the perfect time so you don't spend excessive time practicing what you already know.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="card features">
          <div class="card-body">
            <div class="media">
              <span class="ti-stats-up gradient-fill ti-3x mr-3"></span>
              <div class="media-body">
                <h4 class="card-title">Statistics</h4>
                <p class="card-text">We provide you with statistics about individual flashcards and your learning trends so you can determine what you should be learning next and which areas you excell at already.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="card features">
          <div class="card-body">
            <div class="media">
              <span class="ti-mobile gradient-fill ti-3x mr-3"></span>
              <div class="media-body">
                <h4 class="card-title">Mobile Ready</h4>
                <p class="card-text">Use our IOS or Android mobile apps to take your study with you on the road. Complete your daily reviews or any other tasks while away from your computer.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="card features">
          <div class="card-body">
            <div class="media">
              <span class="ti-comment-alt gradient-fill ti-3x mr-3"></span>
              <div class="media-body">
                <h4 class="card-title">Text to Speech</h4>
                <p class="card-text">With Text to Speech you can easily hear how a word is meant to be pronounced in your target language. This works is individual words and for full sentences.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="card features">
          <div class="card-body">
            <div class="media">
              <span class="ti-book gradient-fill ti-3x mr-3"></span>
              <div class="media-body">
                <h4 class="card-title">Personal Dictionary</h4>
                <p class="card-text">As you enter your words and phrases into Language Den you will build up your own personal dictionary of words you can search and revise with ease.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // end .section -->

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <img src="/images/dashboard.png" alt="dual phone" class="img-fluid">
      </div>
      <div class="col-md-5 d-flex align-items-center">
        <div>
          <h2>Your Language Learning Dashboard</h2>
          <p class="mb-2">Your dashboard lets you know what study you have ready for today and how much work you have coming up soon.</p>
          <p class="mb-0">You can also write down notes or review a few flashcards all on your dashboard.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // end .section -->

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <div>
          <h2>Notes, Grammar and Vocabulary</h2>
          <p class="mb-2">As you study your new language record anything you learn so you can review and recall it later.</p>
          <p class="mb-4">After all your notes are in Language Den you will be periodically reminded to review each item so you will never forget it.</p>
        </div>
      </div>
      <div class="col-md-6">
        <img src="/images/lesson.png" alt="dual phone" class="img-fluid">
      </div>
    </div>
  </div>
</div>
<!-- // end .section -->

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="/images/mobile.png" alt="dual phone" class="img-fluid">
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div>
          <h2>Mobile Learning</h2>
          <p class="mb-2">Language Den works perfectly in your mobile browser so you can take notes and complete your daily reviews anywhere you go.</p>
          <p class="mb-0">If you are studying in a classroom or with a teach using Language Den on your tablet is a perfect way to record your lessons.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // end .section -->


<div class="section bg-light" id="demo">
  <div class="container">
    <div class="section-title">
      <h3>Demo</h3>
    </div>
    <form action="https://app.languageden.com/demo" method="POST" class="text-center">
      <!-- <form action="http://localhost:3000/demo" method="POST" class="text-center"> -->
      <p>Sign in using the demonstration account to see what Language Den is all about. In the demonstration account you will be able to see what an active account looks like and also get a preview of how you can review your flashcards.</p>
      <input type="submit" name="commit" value="Start Demo" class="btn btn-primary d-block" style="margin: 0 auto;" data-disable-with="Starting">
    </form>
  </div>
</div>

<div class="section" id="pricing">
  <div class="container">
    <div class="section-title">
      <h3>Pricing</h3>
    </div>

    <div class="card-deck">
      <div class="card pricing mb-4">
        <div class="card-head">
          <small class="text-primary">MONTHLY</small>
          <span class="price">$9<sub>/m</sub></span>
        </div>
        <ul class="list-group list-group-flush">
          <div class="list-group-item">Unlimited Flashcards</div>
          <div class="list-group-item">Spaced Repetition Learning</div>
          <div class="list-group-item">Unlimited Notes</div>
          <div class="list-group-item">Text To Speech<super>*</super></div>
          <div class="list-group-item">Unlimited Image Search</div>
        </ul>
        <div class="card-body">
          <a href="https://app.languageden.com/users/sign_up" class="btn btn-primary btn-lg btn-block">Sign Up</a>
          <p class="mt-3 mb-0"><small><super>*</super> Available in limited languages</small></p>
        </div>
      </div>
      <div class="card pricing popular">
        <div class="card-head">
          <small class="text-primary">YEARLY</small>
          <span class="price">$90<sub>/y</sub></span>
        </div>
        <ul class="list-group list-group-flush">
          <div class="list-group-item">Unlimited Flashcards</div>
          <div class="list-group-item">Spaced Repetition Learning</div>
          <div class="list-group-item">Unlimited Notes</div>
          <div class="list-group-item">Text To Speech<super>*</super></div>
          <div class="list-group-item">Unlimited Image Search</div>
        </ul>
        <div class="card-body">
          <a href="https://app.languageden.com/users/sign_up" class="btn btn-primary btn-lg btn-block">Sign Up</a>
          <p class="mt-3 mb-0"><small><super>*</super> Available in limited languages</small></p>
        </div>
      </div>
    </div>
    <!-- // end .pricing -->
  </div>
</div>
<!-- // end .section -->

<div class="light-bg py-5" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 text-center">
        <p>
          <a href="/languages/spanish">Learn Spanish</a><br/>
          <a href="/languages/french">Learn French</a><br/>
          <a href="/languages/bengali">Learn Bengali</a>
        </p>
      </div>
      <div class="col-lg-4 text-center">
        <p>
          <a href="/why/college">Learn a language for college</a><br/>
          <a href="/why/travel">Learn a language for travel</a><br/>
          <a href="/why/business">Learn a language for business</a><br/>
        </p>
      </div>
      <div class="col-lg-4 text-center">
        <div class="d-block d-sm-inline-block">
          <p class="mb-2">
            <span class="ti-email mr-2"></span> <a href="mailto:contact@languageden.com">contact@languageden.com</a>
          </p>
          <div class="social-icons">
            <a href="https://www.facebook.com/languageden/"><span class="ti-facebook"></span></a>
            <a href="https://twitter.com/languagedencom"><span class="ti-twitter-alt"></span></a>
          </div>
        </div>
      </div>
    </div>
    <p class="mb-2">
      <small>COPYRIGHT © 2017. ALL RIGHTS RESERVED. MOBAPP TEMPLATE BY <a href="https://colorlib.com">COLORLIB</a></small>
    </p>
  </div>
</div>
<!-- // end .section -->
</body>
</html>
